.movies-list__cards {
  display: grid;
  grid-template-columns: 364px 364px 364px;
  grid-template-rows: 281px 281px 281px;
  column-gap: 24px;
  row-gap: 37px;
  padding: 0px;
  margin: 0px 70px 0px 70px;
  align-items: center;
}

.movies-list__button {
  color: #fff;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: block;
  margin: 60px auto 80px;
  max-width: 1140px;
  width: 100%;
  height: 36px;
  padding: 0px;
  cursor: pointer;
  border-radius: 6px;
  background: #2f2f2f;
  border: none;
}

.movies-list__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1220px) {
  .movies-list__cards {
    grid-template-columns: 339px 339px;
    grid-template-rows: 262px 262px;
    column-gap: 30px;
    row-gap: 30px;
    margin: 0px 30px;
  }

  .movies-list__button {
    margin: 50px auto 80px;
    max-width: 708px;
  }
}

@media screen and (max-width: 750px) {
  .movies-list__cards {
    grid-template-columns: 300px;
    grid-template-rows: 237px;
    row-gap: 14px;
    margin: 0px 10px;
  }

  .movies-list__button {
    max-width: 300px;
  }
}
