.register {
  margin: 70px auto;
}

.register__containers {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.register__container {
  max-width: 396px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px auto 0px;
  gap: 40px;
  margin: 0px auto 40px;
}

.register__logo {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}

.register__title {
  width: 396px;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
  padding: 0px;
}

.register__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px auto 0px;
}

.register__label {
  color: #8b8b8b;
  font-family: "Inter", Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.register__input {
  width: 381px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #2f2f2f;
  border: none;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 15px;
}

.register__input_email {
}

.register__input_password {
}

.register__error {
  display: block;
  min-height: 14px;
  margin: 10px 0px 0px;
  padding: 0px;
  text-align: start;
  color: #ee3465;
  font-family: "Inter", Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register__errors {
  align-self: center;
  max-width: 396px;
  min-height: 70px;
  margin: 48px 0px 20px;
  padding: 0 20px;
  font: 500 14px/16px "Inter", "Arial", sans-serif;
  color: #ee3465;
  text-align: center;
}

.register__signup {
  display: flex;
  flex-direction: column;
  margin: 69px auto 0px;
  gap: 16px;
}

.register__button {
  max-width: 396px;
  border-radius: 3px;
  background: #4285f4;
  border: none;
  color: #fff;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 13px 124px;
}

.register__button:hover {
  opacity: 0.8;
}

.register__button_active {
  color: #fff;
  background-color: #3456f3;
  transition: opacity 0.24s ease;
  cursor: pointer;
}

.register__button_active:hover {
  opacity: 0.7;
}

.register__button_inactive {
  color: #a0a0a0;
  background-color: #f8f8f8;
  cursor: inherit;
}

.register__button_inactive:hover {
  opacity: 1;
}

.register__box {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  margin: 0px auto 0px;
}

.register__ask {
  color: #8b8b8b;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register__signin {
  color: #4285f4;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.register__signin:hover {
  opacity: 0.7;
}

@media screen and (max-width: 780px) {
  .register {
    margin: 232px auto;
  }
}

@media screen and (max-width: 590px) {
  .register {
    margin: 56px auto 30px;
  }

  .register__container {
    gap: 50px;
    margin-bottom: 80px;
    max-width: 260px;
    align-items: center;
  }

  .register__title {
    max-width: 240px;
    align-self: center;
  }

  .register__signup {
    margin: 157px auto 0px;
  }

  .register__input {
    max-width: 245px;
  }

  .register__button {
    max-width: 260px;
    padding: 15px 67px;
  }

  .register__errors {
    max-width: 260px;
    margin: 88px 0px 20px;
    font: 400 13px/16px "Inter", "Arial", sans-serif;
  }
}
