.login {
  margin: 70px auto;
}

.login__containers {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login__container {
  max-width: 396px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px auto 0px;
  gap: 40px;
  margin: 0px auto 40px;
}

.login__logo {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}

.login__title {
  width: 396px;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
  padding: 0px;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px auto 0px;
}

.login__label {
  color: #8b8b8b;
  font-family: "Inter", Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.login__input {
  width: 381px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #2f2f2f;
  border: none;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 15px;
}

.login__input_email {
}

.login__input_password {
}

.login__signin {
  display: flex;
  flex-direction: column;
  margin: 179px auto 0px;
  gap: 16px;
}

.login__button {
  max-width: 396px;
  border-radius: 3px;
  background: #4285f4;
  border: none;
  color: #fff;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 13px 176px;
}

.login__button:hover {
  opacity: 0.8;
}

.login__box {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  margin: 0px auto 0px;
}

.login__ask {
  color: #8b8b8b;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login__signup {
  color: #4285f4;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.login__signup:hover {
  opacity: 0.7;
}

.login__button-active {
  color: #fff;
  background-color: #3456f3;
  transition: opacity 0.24s ease;
  cursor: pointer;
}

.login__button-active:hover {
  opacity: 0.7;
}

.login__button-inactive {
  color: #a0a0a0;
  background-color: #f8f8f8;
  cursor: inherit;
}

.login__button-inactive:hover {
  opacity: 1;
}

.login__error {
  display: block;
  min-height: 14px;
  margin: 10px 0px 0px;
  padding: 0px;
  text-align: start;
  color: #ee3465;
  font-family: "Inter", Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 780px) {
  .login {
    margin: 232px auto;
  }
}

@media screen and (max-width: 590px) {
  .login {
    margin: 56px auto 30px;
  }

  .login__container {
    gap: 50px;
    margin-bottom: 80px;
    max-width: 260px;
    align-items: center;
  }

  .login__title {
    max-width: 160px;
    align-self: center;
  }

  .login__signin {
    margin: 267px auto 0px;
  }

  .login__input {
    max-width: 245px;
  }

  .login__button {
    max-width: 260px;
    padding: 15px 111px;
  }
}
